.navbar {
    border-bottom: 1px solid #ededed;
}

a.navbar-brand {
    font-weight: bold !important;
    color: #333 !important;
}

.navbar-nav a {
    margin: 0 10px;
}

a.active-link {
    font-weight: bold;
}