.report-area {
    padding-top: 85px;
    padding-bottom: 55px;
    background-color: #f2f4f4;
}

.single-report {
    background-color: #5A8DEE;
    box-shadow: -3px 3px 20px 0px #598dee9c;
    border-radius: 6px;
    margin-bottom: 30px;
}

.single-report img {
    height: 75px;
    width: auto;
}

.single-report h2 {
    font-size: 45px;
}