.footer {
    background-color: #1A233A;
}

.developer-text {
    text-align: right;
}

@media only screen and (max-width: 991px) {

    .copyright-text,
    .developer-text {
        text-align: center;
    }
}