.details-book img {
    width: 250px;
    height: auto;
}

.book-details-text {
    padding: 55px 0;
}

.book-details-text h2 {
    font-size: 24px;
    margin-top: 10px;
}

.book-details-text span {
    font-weight: bold;
}

.book-details-text h4 {
    font-size: 18px;
}

.add-book-form {
    padding-bottom: 55px;
}

.details-book {
    border: 1px solid #ededed;
}

.details-book button {
    margin-right: 15px;
}