.banner-area {
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.banner-area:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .5;
    z-index: -1;
}

.theme-text-primary {
    font-size: 42px;
    text-transform: capitalize;
    letter-spacing: .5px;
}

.theme-sub-text {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.3;
}

.theme-btn {
    background-color: #5A8DEE;
    box-shadow: -3px 3px 20px 0px #598dee9c;
    color: #fff;
    letter-spacing: .5px;
    padding: 9px 20px;
    transition: .3s;
}

.theme-btn:hover {
    background-color: #FF5B5C;
    box-shadow: -3px 3px 20px 0px #ff5b5c9e;
    color: #fff;
}

.theme-btn-two {
    background-color: #FF5B5C;
    box-shadow: -3px 3px 20px 0px #ff5b5c9e;
    color: #fff;
    letter-spacing: .5px;
    padding: 9px 20px;
    transition: .3s;
}

.theme-btn-two:hover {
    background-color: #5A8DEE;
    box-shadow: -3px 3px 20px 0px #598dee9c;
    color: #fff;
}

@media only screen and (max-width: 991px) {
    .banner-area {
        height: 500px;
    }

    .theme-text-primary {
        font-size: 32px;
    }

    .theme-sub-text {
        font-size: 15px;
    }
}