.notfound-area {
    min-height: 87vh;
    padding: 75px 0;
}

.not-found-text img {
    height: 120px;
}

.not-found-text h3 {
    font-size: 95px;
    font-weight: bold;
    letter-spacing: 5px;
}

.not-found-text h4 {
    font-size: 32px;
}